@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.heading-font{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

body{
    font-family: 'Hind', sans-serif;
    color: #242424;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    background-color: #FCF6F5FF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    padding: 0;
    list-style-type: none;
}

h2.heading-font{
    font-size: 42px;
}

.common-btn{
    color: #fff;
    background-color: #c10e00;
    border: 1px solid #c10e00;
    border-radius: 50px;
    padding: 12px 20px;
    width: max-content;
    display: flex;
    align-items: center;
}

.common-btn span{
    margin-left: 10px;
}

.common-btn:hover{
    background-color: transparent;
    color: #c10e00;
}

.section--lg{
    padding: 90px 0px 90px 0px;
}

.section-content{
    font-size: 22px;
    width: 60%;
    margin: 0 auto;
}


/* header css start */

.header{
    background-color: #fff;
}

.upper-header, .lower-header{
    border-bottom: 1px solid #dfe2ed;
}

.upper-header .container, .lower-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.right-upper-header{
    display: flex;
    gap: 20px;
    align-items: center;
}

.right-upper-header i{
    font-size: 22px;
    transition: all .2s ease;
}

.right-upper-header i:hover{
    color: #c10e00;
    cursor: pointer;
}

.lower-header .container{
    padding: 5px 0px;
}

.left-lower-header img{
    width: 80px;
}

.right-lower-header{
    display: flex;
    align-items: center;    
}

.right-lower-header .nav-link{
    padding: 0 30px;
    font-size: 18px;
    font-weight: 500;
}

.nav-link:hover{
    color: #c10e00;
}

.nav-link.active{
    color: #c10e00;
}

/* header css end */

/* home banner css start */

.home-hero{
    /* padding: 120px 0px 50px 0px; */
    background-image: url('images/about-banner-header.jpg');
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #f2f2f2;
    box-shadow: 0 0 100px rgba(0, 0, 0, .03);
}

.home-hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 90px 0px;
    gap: 10px;
}

.home-hero-content h1{
    font-size: 52px;
    width: 60%;
}

.home-hero-content p{
    font-size: 20px;
}

.home-hero-content p span{
    margin: 0 15px;
    align-items: center;
    font-size: 14px;
}

.home-hero-content p a:hover{
    color: #c10e00;
}

/* home banner css end */

/* about section css start */

.about-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 60px;
    align-items: center;
}

.left-about{
    position: relative;
}

.about-dots{
    position: absolute;
    left: -10%;
    bottom: -15%;
    z-index: -2;
}

.left-about .about-img{
    width: 100%;
    border-radius: 10px;
}

.right-about{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-content{
    font-size: 22px
}

.founder-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    align-items: center;
}

.left-founder{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-founder p{
    font-size: 20px;
}

.right-founder img{
    width: 100%;
    border-radius: 5px;
}

.journey-section{
    position: relative;
    overflow: visible;
}


.journey-section .swiper-pagination-bullet-active{
    width: 13px;
    height: 13px;
    background: #fff;
    border: 2px solid #c10e00;
}

.journey-section .swiper-pagination-bullet {
    display: inline-block;
    align-items: center;
    margin: 0 10px !important;
}

.timeline{
    display: flex;
    position: relative;
}

.timeline-line{
    height: 1px;
    position: absolute;
    width: 99.9%;
    top: 60%;
    border-bottom: 2px dashed;
    border-color: #c10e00;
}

.timeline-item{
    height: 300px;
    padding: 115px 25px;
}

.timeline-pin{
    width: 47px;
    height: 47px;
    position: relative;
    margin: 0 50px;
}

.timeline-spot{
    width: 20px;
    height: 20px;
    position: absolute;
    background: #c10e00;
    border-radius: 50%;
    left: 50%;
    top: 115%;
    /* transform: translateY(-135%) translateX(-50%); */
    z-index: 1;
}

.timeline-spot-border{
    display: block;
    position: absolute;
    background: #FCF6F5FF;
    width: 47px;
    height: 47px;
    border-radius: 50%;
}

.timeline-title{
    color: #333;
    font-weight: 600;
    font-size: 38px;
    position: absolute;
    bottom: 10%;
    left: -15%;
}

.timeline-content{
    top: 250%;
    position: absolute;
    max-height: 116px;
    background-color: #c10e00;
    color: #fff !important;
    padding: 5px 20px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .1);
    border-radius: 5px;
    min-width: 200px;
    width: 200px;
    font-size: 18px !important;
    font-weight: 400 !important;
    text-transform: none !important;
}

.timeline-corner{
    content: '';
    display: block;
    width: 14px;
    height: 18px;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 23px;
    top: -16px;
}

.timeline-corner svg{
    fill: #c10e00;
}

.timeline-item.even .timeline-content{
    bottom: 70%;
    top: auto;
}

.timeline-item.even .timeline-title{
    top: 200%;
    bottom: auto;
}

.timeline-item.even .timeline-corner{
    top: auto !important;
    bottom: -16px;
}

.cv-inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    align-items: center;
    margin-top: 40px;
}

.cv-item{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 12px 20px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
}

.cv-item img{
    width: 50px;
    height: 50px;
}

/* about section css end */

/* products page css start */

.TabButton {
    width: 100%;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #FFFFFF;
  margin: 0;
  padding: 16px;
  cursor: pointer;
}
.TabButtonSelected {

  color: #c10e00 !important;
  border-bottom-color: #c10e00 !important;
  font-weight: 600;
}
.d-chart-n {
display: none;
}

.d-chart-show {
display: block;
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    align-items: center;
    margin-top: 50px;
}

.product-item{
    background-color: #fff;
    /* border: 1px solid #eaeaea; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.product-item img{
    width: 100%;
    height: 250px;
}

.product-item .avail-sizes p{
    font-weight: 600;
}

.product-item .common-btn{
    padding: 5px 20px;
}

/* products page css end */

/* contact section css start */

.contact-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    align-items: center;
}

.contact-links-group{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.left-contact{
    position: relative;
}

.contact-dots{
    position: absolute;
    right: 20%;
    top: 30%;
    z-index: -2;
}

.contact-links{
    display: flex;
    gap: 15px;
    align-items: baseline;
}

.contact-links i{
    font-size: 20px;
    color: #a33737bf;
}

.contact-links p.fw-bold{
    font-size: 22px;
}

.right-contact input, .right-contact textarea{
    color: #4c4c4c;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    padding: 10px 20px;
}

.contact-form{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 20px;
}

.input-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    align-items: center;
    width: 100%;
}

.contact-form .common-btn{
    color: #fff;
    width: 100%;
    margin: 0 auto;
    border-color: #c10e00;
    justify-content: center;
}


/* contact section css end */

/* footer css start */

.footer{
    background-color: #fff;
    padding-top: 90px;
}

.footer-inner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.footer-item:first-child{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-item img{
    width: 80px;
}

.social-icons{
    display: flex;
    gap: 20px;
    align-items: center;
}

.social-icons i{
    font-size: 24px;
    color: #4c4c4c;
}

.social-icons i:hover{
    color: #c10e00;
}

.footer-item ul{
    margin-top: 30px;
}

.footer-item ul li{
    padding: 5px 0px;
    font-size: 17px;
    transition: all .2s ease;
}

.footer-item ul li:hover a{
    color: #c10e00;
    font-weight: 500;
    padding-left: 10px;
    transition: all .2s ease;
}

.footer-item ul li a span{
    margin-right: 10px;
}

.lower-footer{
    margin-top: 50px;
    color: #4c4c4c;
    font-size: 13px;
    padding: 15px 0px;
    border-top: 1px solid #eaeaea;
}

/* footer css end */



/********** MOBILE HEADER ************/


.mobile-header{
    display: none;
}

.mobile-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* mobile menu css */

.canva_expander {
    cursor: pointer;
    display: block;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.logo img{
    width: 60px;
    height: 60px;
}

.canva_expander span {
    height: 2px;
    width: 35px;
    display: block;
    background: #242424;
    cursor: pointer;
    list-style: none;
    margin: 8px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    margin-left: auto;
}

.canva_expander span.dot2 {
    width: 27px;
}

.canva_expander span.dot4 {
    width: 22px;
}


.hamburger {
    position: absolute;
    top: 20px;
    right: 15px;
    /* line-height: 20px; */
    padding: 5px;
    /* border-radius: 5px; */
    color: #fff;
    border: 0;
    font-size: 30px;
    font-weight: bold;
    outline: none;
    z-index: 1111;
    background: none;
}

.cross{
  background:none;
  position:absolute;
  top:5px;
  right:15px;
  padding:7px 15px 0px 15px;
  color:#002155;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:22222;
}
.menu{z-index:1111; font-weight:bold; width:100%; background-color: #fff;  position:absolute; text-align:center; font-size:12px; top: 0; left: 0;min-height: 100%;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none; padding-top: 80px;}
.menu li {display: block;   padding:15px 0 15px 0;  font-weight: 700;}
.menu li:hover{display: block;    background-color: #fff;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#242424;font-size: 14px;}
.menu ul li a:hover {  color: #242424; text-decoration:none;}
.menu a{text-decoration:none; color:#242424;}

.nav__sub li{
    padding: 10px 0px !important;
}

.fa-chevron-right{
    font-size: 12px;
}

.glyphicon-home{
  color: #242424; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


.nav__item , .nav__item {
	margin-top: 10px;
}

.menu ul .nav__link {
	font-weight: 600;
	color: #242424;
    /* font-family: 'myregularfont'; */
	text-decoration: none;
}

.menu ul .nav__sub {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
    height: 100vh;
	background-color: #fff;
  color: #242424;
	opacity: 0;
	display: none;
	transition: all 0.35s ease-in-out;
	transform: translateX(100%);
}

.menu ul .nav__sub.is-active {
  opacity: 1;
  display: block;
  transform: translateX(0%);
}

.menu ul .nav__sub {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	list-style-type: none;
}

.contact-btn-mobile{
    border-radius: 50px;
    display: flex;
    margin: 0 auto;
    width: max-content;
    border: 1px solid #002155;
    padding: 10px 20px !important;
    margin-top: 10px;
}


.hamburger, .cross, .menu{
  display: none;
}





@media screen and (max-width:450px) {
    .header-inner, .about-dots, .contact-dots, .dots-img{
        display: none;
    }

    .mobile-header{
        display: block;
    }

    .section--lg{
        padding: 50px 30px;
    }

    .home-hero{
        padding: 50px 0px 50px 0px;
    }

    .home-hero-content{
        padding: 0;
    }

    .common-btn{
        padding: 5px 15px;
    }

    h2.heading-font {
        font-size: 28px;
    }

    .section-content {
        font-size: 14px;
        width: 100%;
        margin: 0 auto;
    }

    .home-hero-content h1{
        font-size: 30px;
        width: 100%;
    }

    .home-hero-content p {
        font-size: 14px;
    }

    .industries-inner, .products-inner, .how-we-work-inner, .about-inner, .contact-inner, .footer-inner, .input-group, .founder-inner, .cv-inner, .products-grid{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }

    .right-about, .left-founder{
        text-align: center;
        gap: 10px;
    }

    .about-content {
        font-size: 14px !important;
        margin: 0;
    }

    .right-about .common-btn{
        margin: 0 auto;
    }

    .timeline-item{
        padding: 80px 0px;
    }

    .timeline-content {
        top: 230%;
    }

    .timeline-item.even .timeline-content {
        bottom: 50%;
    }
    
    .timeline .swiper-button-prev{
        left: -3px;
        top: 49%;
    }
    
    .timeline .swiper-button-next{
        right: 0;
        top: 49%;
    }

    .timeline .swiper-button-next, .timeline .swiper-button-prev {
        color: #a33737bf;
    }

    .timeline-line {
        top: 48%;
    }

    .products-section .d-flex{
        flex-direction: column;
    }

    .TabButton{
        padding: 10px;
    }

    .contact-links-group {
        margin-top: 20px;
    }

    .contact-links p.fw-bold, .contact-links i {
        font-size: 18px;
    }

    .left-contact .heading-font{
        text-align: center;
    }

    .contact-links{
        flex-direction: column;
        gap: 10px;
        text-align: center;
        align-items: center;
    }
}